*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #dab438, #fda085);
    color: #fff;
    min-height: 100vh;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1000px;
}
.header {
    padding-top: 50px;
}
.header {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title {
    font-size: 2rem;
    text-align: center;
}
.form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input, .todo-btn {
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: #fff;
    border-radius: 5px;
}
.input {
    outline: none;
    min-width: 320px;
}
.todo-btn {
    cursor: pointer;
    transition: all .2s linear;
    background: #fff;
}
.todo-btn:hover {
    box-shadow: 5px 3px 17px 1px rgb(226, 74, 28);
    background-color: rgb(240, 102, 102);
}
.todo-btn i {
    color: rgb(163, 110, 12);
}
.todo-btn:hover i {
    opacity: 0.9;
    color: rgb(255, 255, 255);
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}
.todo {
    margin: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo-item {
    padding-left: 0.5rem;
    flex: 1;
}
.complete-btn, .delete-btn  {
    padding: 0.8rem;
    background-color: #ff6f47;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.complete-btn {
    margin-left: 0.5rem;
    background: rgb(26, 214, 26);
}
.fa-trash, .fa-check {
    pointer-events: none;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.dropdown {
    margin-left: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 11rem;
    height: 100%;
    max-height: 44px;
    font-size: 1.2rem;
    background-color: #fff;
    border-radius: 5px;
}
.dropdown-label {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #000;
}
.dropdown-label i {
    margin-left: 5px;
    pointer-events: none;
}
.dropdown.open .dropdown-menu {
    display: block;
}
.dropdown-menu {
    width: 100%;
    position: relative;
    display: none;
    list-style: none;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    left: 0;
}
.dropdown-menu__item {
    padding: 8px 20px;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    display: flex;
    justify-content: space-between;
}
.dropdown-menu__item:hover {
    background-color: rgb(180, 176, 176);
    cursor: pointer;
}